<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}PPH{% endblock %}</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
			<div class="container-fluid">
				<a class="navbar-brand" href="{% url 'home' %}">
					<img src="{% static 'img/logo.png' %}" alt="Logo" height="30" class="d-inline-block align-text-top">
					PPH
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						{% if user.is_authenticated %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'profile' %}">Mon compte</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'logout' %}">Se déconnecter</a>
                            </li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'login' %}">Se connecter</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'register' %}">S'enregistrer</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

		<div class="container pt-5">
			{% block content %}
			{% endblock %}
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
	</body>
</html>